@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply w-full max-w-[1200px] mx-auto;
}

.light-orange {
  @apply bg-[#FFF9F2];
}

.orange {
  @apply bg-[#2C4D8A];
}

.lighter-black {
  @apply text-[#303030];
}

body {
  @apply bg-[#F3F8FF];
}
.juanImg {
  border-radius: 50px;
  bottom: 25%;
  left: 60%;
  width: 600px;
}
.juanBaseball {
  border-radius: 50px;
}
@media screen and (max-width: 950px) {
  .juanImg {
    border-radius: 50px;
    bottom: 25%;
    left: 45%;
    width: 500px;
  }
}
@media screen and (max-width: 792px) {
  .juanImg {
    border-radius: 50px;
    bottom: 25%;
    left: 45%;
    width: 500px;
  }
}
